[submodule "AirBnB_clone_v1"]
	path = AirBnB_clone_v1
	url = https://github.com/coding-max/AirBnB_clone_v1.git
[submodule "AirBnB_clone_Part-1"]
	path = AirBnB_clone_Part-1
	url = https://github.com/ChernetAsmamaw/AirBnB_clone_Part-1.git
